# Config files
config.json

# Data directory
data/
!data/.gitkeep

# Log files
logs/
!logs/.gitkeep

# Python cache files
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual Environment
.venv/
venv/
env/

# IDE settings
.idea/
.vscode/
1000SATSUSDT_close_prices.csv
BANANAS31USDT_close_prices.csv

# Backtest results
backtest_results/
!backtest_results/.gitkeep

winrate_optimization_results/winrate_focused_results.csv

walk_forward_results/walk_forward_analysis.csv
advanced_optimization_results/advanced_winrate_results.csv
vectorbt_results/strategy_optimization_20250626_103915.csv
